@font-color: #333;
@space: 4rem;

body {
	color: @font-color;
	font: 200 17px/1.75 'Helvetica Neue', Arial, sans-serif;
}
#main {
	padding: @space;
	text-align: center;
}
h1{
	font-size: 30px;
	margin-bottom: @space;
}
h2{
	font-size: 20px;
}
p{
	margin-bottom: @space/2;
}

#modal {
	display: none;
	background: rgba(0,0,0,.9);
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 10;
	&.visible {
		display: block;
		#modal-dialog {
			display: block;
		}
	}
}

#modal-dialog {
	display: none;
	background: #FFF;
	margin-left: -330px;
	position: fixed;
	left: 50%;
	top: 25%;
	z-index: 11;
	width: 660px;
}

#modal-header {
	padding: @space/4 @space/2;
	background: #000;
	color: #FFF;
}

#modal-body {
	max-height: 320px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: @space/2;
	img {
		margin-bottom: @space/2;
		width: 100%;
	}
	p:first-child {
		margin-top: 0;
	}
}

// button
.btn{
	background: #000;
	color: #FFF;
	display: inline-block;
	font-size: 14px;
	padding: 8px 15px;
	text-decoration: none;
	text-align: center;
	min-width: 60px;
	position: relative;
	border: 0 none;
}

.btn-close{
	color: #FFF;
	font-size: 30px;
	text-decoration: none;
	position: absolute; right: 5px; top: 0;
}

@media (max-width: 768px) {
	#modal-dialog{
		width: 100%;
		margin-left: 0;
		left: inherit;
	}
}
