@font-color: #333;
@space: 4rem;

body {
	color: @font-color;
	font: 200 17px/1.75 'Helvetica Neue', Arial, sans-serif;
}
#main {
	padding: @space;
	text-align: center;
}
h1{
	font-size: 30px;
	margin-bottom: @space;
}
h2{
	font-size: 20px;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

// buttons
.btn{
	background: #000;
	color: #FFF;
	display: inline-block;
	font-size: 14px;
	padding: 8px 15px;
	text-decoration: none;
	text-align: center;
	min-width: 60px;
	position: relative;
	border: 0 none;
}

.btn-close{
	color: #FFF;
	font-size: 30px;
	text-decoration: none;
	position: absolute; right: 5px; top: 0;
}

#modal {
	display: none;
	background: rgba(0,0,0,.9);
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 10;
	&.visible {
		display: block;
		#modal-dialog {
			display: block;
		}
	}
}

#modal-dialog {
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 640px;
	height: 457px;
	background: #FF0;
}

@media (max-width: 640px) {
	#modal-dialog {
		width: 100%;
	}
}

@media (max-height: 640px) {
	#modal-dialog {
		height: 100%;
	}
}

#modal-title {
	color: #FFF;
	background: #000;
	padding: 0 13px;
	margin: 0;
	line-height: 45px;
	font-size: 19px;
	font-weight: 100;
	letter-spacing: 1px;
}

#modal-close {
	float: right;
	margin: 4px 10px;
}

#modal-body {
	padding: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	background: #FFF;
	position: absolute;
}

#facility-departments {
	h4 {
		text-transform: uppercase;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

#facility-photo {
	border: 1px solid #000;
	margin-bottom: 1rem;
}

#facility-address {
	font-weight: bold;
}

//#modal-dialog {
//	display: none;
//	background: #FFF;
//	margin: auto;
// 	position: absolute;
// 	top: 0; left: 0; bottom: 0; right;
//	z-index: 11;
//	min-width: 320px;
//	min-height: 320px;
//}
//
//#modal-header {
//	padding: @space/4 @space/2;
//	background: #234562;
//	color: #FFF;
//}
//
//#modal-body {
//	overflow-y: auto;
//	overflow-x: hidden;
//	padding: @space/2;
//	p:first-child {
//		margin-top: 0;
//	}
//}
//



//@media (max-width: 768px), (max-height: 768px) {
//	#modal-dialog {
////		position: fixed;
////		top: 0; left: 0; right: 0; bottom: 0;
////		margin: 0;
////		max-width: 660px;
////		max-height: 660px;
//		margin-left: -310px;
//	}
//
//	#modal-body {
//		padding: 0;
//	}
//}
